<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MovieFlix</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="assets/css/style_details.css" type="text/css" media="all" />
<script type="text/javascript" src="assets/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="jassets/jquery-func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body style="background-color:#202328;">
<!-- START PAGE SOURCE -->
<div id="shell">
  <div id="header" align="center">
    <img src="images/thumbs/icon.png" alt="" height="50" width="50" /><font size="8" color="#eff1f4"><strong>Movie<font color="green">Flix</font></strong> </font>
   
		
  </div>
 
</div>

<div id="body" class="movies">
		<h2>Game Of Thrones - 2016 (TV - MA)</h2>
		
		<img src="images/fulls/01.jpg" alt="">
		<div>
			<h3>Synopsis</h3>
			<p>
			While a civil war brews between several noble families in Westeros, the children of the former rulers of the land attempt to rise up to power. Meanwhile a forgotten race, bent on destruction, return after thousands of years in the North.</p>
			
			<div class="section">
			
			<span>USA - ENGLISH</span>
			<p>
				<span>Awards:</span> JWon 1 Golden Globe. Another 134 wins & 288 nominations.
			</p>
			<p>
				<span>IMDB Rating:</span>  9.5
			</p>
			<p>
				<span>IMDB Votes:</span>  906519
			</p>
			<p>
				<span> People's Vote:</span> 3.5/5
			</p>
			
		</div>
		</div>
		<div class="section">
			<h3>Details</h3>
			<span>Adventure, Drama, Fantasy</span>
			<p>
				<span>Starring:</span> Peter Dinklage, Lena Headey, Emilia Clarke, Kit Harington
				</p>
			<p>
				<span>Directed By:</span> Barbara J. Hernandez
				
			</p>
			<p>
				<span>Written By:</span>David Benioff, D.B. Weiss
				
			</p>
			
			<p>
				<span>Released :</span> 2011-04-07
			</p>
			<p>
				<span>Runs For:</span> 56 minutes
			</p>
			
		</div>
		
	</div>
	<div class="detailBox" >
    <div class="titleBox">
      <label >Comments </label>
        
    </div>
   
    <div class="actionBox" >
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                
                </div>
                <div class="commentText">
                    <p class="" style="color:green;">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                
                </div>
                <div class="commentText">
                    <p class="" style="color:green;">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                
                </div>
                <div class="commentText">
                    <p class="" style="color:green;">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
        </ul>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" style="color:green;">Add</button>
            </div>
        </form>
    </div>
</div>
	
<!-- END PAGE SOURCE -->
</body>
</html>